{% extends "base.html" %}

{% block content %}


    <div class="container">
        <div class="container"><p class="m-0 text-center text-dark">Image Gallery</p></div>
        <div class="row">
            {% for painting in paintings %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{ painting.image_url }}" target="_blank">
                        <img src="{{ painting.image_url }}" alt="Fjords" style="width:100%">
                        <div class="title">
                            <p>{{ painting.title }}</p>
                        </div>
                        <div class="caption">
                            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}
